<div class="contact-wrapper" data-aos="fade-up" data-aos-once="true" id="contact">
  <div class="contact-container">
    <div class="content">GET IN TOUCH.<br/>
      FEEL FREE TO REACH ME OUT, I WILL BE GLAD TO HEAR FROM YOU</div>
    <a class="gen-btn" href="mailto:avi.u95@gmail.com">Say Hello</a>
  </div>
  <div class="contact-footer">
      <div class="contact-feeds">
        <div>
          Contact me
        </div>
        <div class="contact-feeds-value">
          +91 9944127121
        </div>
      </div>
      <div class="contact-feeds">
        <div>
          Github
        </div>
        <img src="/assets/img/link.svg"/>
        <a href="https://github.com/itsaviu" target="_blank" class="contact-feeds-value">
           itsMeAvi
        </a>
      </div>
      <div class="contact-feeds">
        <div>
          Linkedin
        </div>
        <img src="/assets/img/link.svg"/>
        <a href="https://www.linkedin.com/in/aviu95" target="_blank" class="contact-feeds-value">
          in/aviu95
        </a>
      </div>
      <div class="contact-feeds">
        <div>
          Instagram
        </div>
        <img src="/assets/img/link.svg"/>
        <a href="https://www.instagram.com/avin_us/ " target="_blank" class="contact-feeds-value">
          avin_us
        </a>
      </div>
  </div>
</div>