.contact-wrapper {
    width: 80%;
    margin: 0px auto;
    .contact-container {
        margin-right: 30%;
        font-size: 40px;
        font-family: sans-serif;
        font-weight: bold;
        .content {
            color: #bdbdbd;
        }
    }
    .contact-footer {
        display: flex;
        margin-top: 60px;
        font-size: 14px;
        .contact-feeds {
            margin-right: 15%;

            .contact-feeds-value {
                color: #bdbdbd;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .contact-wrapper {
        .contact-container {
            margin-right: 0%;
            font-size: 25px;
            font-family: sans-serif;

            .content {
                margin-bottom: 10px;
            }
        }
        .contact-footer {
            display: grid;
            grid-template-columns: repeat(2, minmax(128px, 200px));
            .contact-feeds {
                margin-right: 15%;
                margin-bottom: 20px;
            }
        }
    }
    
}