<div class="footer">
    <div class="left-pane">
      <ul>
        <li *ngFor="let config of footerConfig" class="footer-config">
          <a href={{config.url}} target="_blank">
              <img src="{{config.icon}}"/>
          </a>
            
        </li>
      </ul>
    </div>
    <div class="right-pane">
        <div class="content">Made with <img src="https://img.icons8.com/office/22/000000/like.png"/> by</div>
        <div class="content">Avi.U</div>
        <div style="color:#0c223a">aS</div>
    </div>
</div>