<div class="footer">
    <div class="left-pane"  data-aos="fade-right">
      <ul>
        <li *ngFor="let config of footerConfig" class="footer-config">
          <a href={{config.url}} target="_blank">
              <img src="{{config.icon}}"/>
          </a>
            
        </li>
      </ul>
    </div>
    <div class="right-pane" data-aos="fade-left">
        <div class="content">Made with <img src="https://img.icons8.com/office/22/000000/like.png"/> by</div>
        <div class="content">Avi.U</div>
        <div style="color:#0c223a">aS</div>
    </div>
    <div class="bottom-pane">
      <div class="social-media">
        <div *ngFor="let config of footerConfig" style="margin-left: 10px;">
            <a href={{config.url}} target="_blank">
                <img src="{{config.icon}}"/>
            </a>
          </div>
      </div>   
      <span class="signature">
        aS
      </span>
    </div>
</div>