.about {
    display: flex;
    font-size: 16x;
    .about-left-pane {
        width: 45%;
        .section-desc {
            margin: 20px 100px 0px 0px;
            color: #9ca0a4;
            font-size: 16px;
        }
    }
    .about-right-pane {
        width: 75%;
    }
    .skill{
        margin: 10px;
        text-align: center;
        padding: 10px;
        background-color: #233346;

    }
    .skill-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(140px, 200px));
        overflow: hidden;
        padding: 0px;
        margin: 2px 0px 0px 12px;
        list-style: none;
        li::before {
            content: "▹";
            margin-right: 5px;
            color: rgb(100, 255, 218);
            font-size: 14px;
            line-height: 12px;
        }
    }
}
 

@media only screen and (max-width: 600px) {

    .about {
        display: block;
        .about-left-pane {
            width: 100%;
            .section-desc {
                margin: 30px 0px;
            }
        }
        .about-right-pane {
            width: 100%;
        }
    }
}