.nav-bar {
    padding: 45px 45px;
    position: absolute;
    width: 100%;
    background: transparent;

    .slider {
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #182a45;
        z-index: 99;
        .close-icon {
            cursor: pointer;
            float: right;
            margin: 20px;
        }

        .drawer-content {
            font-size: 20px;
            color: #64ffda;
            position: absolute;
            left: 46%;
            top: 35%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    .nav-content {
        display: flex;
        .brand-style {
            letter-spacing: 5px;
            flex-grow: 1;
            font-weight: 500;
            color: #52d3ba;
        }
        .floater {
            float: right;
            .drawer-icon {
                margin-top: 9px;
                cursor: pointer;
            }
            .drawer-icon:hover {
                color: #52d3ba;
            }
        }
    }
}


.nav-link {
    color: white !important;
    font-weight: 100;
    cursor: pointer;
    transition: color 0.2s ease;
    font-size: 14px;
}

.nav-link:hover {
    color: #52d3ba !important;
}


@media only screen and (max-width: 600px) {
    .nav-bar {
        padding: 15px 15px;
        .nav-content {
            .brand-style {
                font-size: 14px;
                letter-spacing: 3px;
                flex-grow: 1;
                font-weight: 200;
            }
        }
    }
    .gen-btn {
        margin: 10px;
    }
}