<div class="nav-bar">
  <div class="nav-content">
    <div class="navbar-brand brand-style">AVINASH</div>
    <div class="floater">
      <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">EXPERIENCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">WORK</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
          </li>
      </ul>
    </div> 
  </div>
</div>