.section {
    min-height: 100vh;
    counter-reset: section 0;
    margin: 0px auto;
    .intro-section {
        position: absolute;
        top: calc(40% - 120px);
        width: 100%;
        padding: 0px 250px;
        .intro-header {
            font-size: 50px;
            font-weight: 300;
        }
        .intro-sub-header {
            font-size: 60px;
            line-height: 1.1;
            color: #8892b0;
        }

        .intro-content {
            margin-top: 30px;
            width: 50%;
            font-size: 18px;
            color: #8b959e;
        }

        .intro-contact {
            padding-top: 70px;
            .contact {
                text-decoration: underline;
                color: #f6f7f7;
            }
            
            .contact:hover {
                -webkit-transform: translateY(-0.1em);
                transform: translateY(-0.20em);
            }
        }
    }

    #particles-js {
        width:100%;
        height:100vh;
    }
}


@media only screen and (max-width: 600px) {
    .section {
        .intro-section {
            padding: 0px 20px;
            .intro-header {
                font-size: 28px;
                font-weight: 200;
            }
            .intro-sub-header {
                font-size: 40px;
            }
    
            .intro-content {
                margin-top: 30px;
                width: 75%;
                font-size: 16px;
            }
    
            .intro-contact {
                .contact {
                    font-size: 16px;
                }
            }
        }
    }
}
