<div class="section">
    <section class="intro-section">
        <div class="intro-header">Hey there, I'm <span style="color: #42a999">Avinash</span> </div>
        <div class="intro-sub-header">I build things for the web</div>
        <div class="intro-content">
            I am a Software engineer based in Chennai, India. Specialized in developing a high quality full end application.
        </div>
        <div class="intro-contact">
            <a class="contact" href="mailto:avi.u95@gmail.com">avi.u95@gmail.com</a>
        </div>
    </section>
    <div id="particles-js"></div>
</div>