.rect-card {
    background-color: #152435;
    transition: background-color 0.2s ease;
    padding: 40px 60px;
    margin-bottom: 30px;
    .description {
        color: #c7c7c7;
        margin-top: 20px;
    }
}

.rect-card:hover {
    background-color: #16273c;
}