/* You can add global styles to this file, and also import other style files */
body {
    background-color: #0a1a2b !important;
    * {
        color: white;
    }
    
}

.section-header {
    font-size: 37px;
    font-weight: 300;
    font-family: 'Playfair Display', sans-serif;
}


.mobile-view {
    display: none;
}

@media only screen and (max-width: 600px) {
    .desktop-view {
        display: none !important;
    }
    .mobile-view {
        display: block !important;
    }
}
