/* You can add global styles to this file, and also import other style files */
body {
    background-color: #0a1a2b !important;
    * {
        color: white;
    }
    
}

.section-header {
    font-size: 30px;
    font-weight: 300;
    color: #cdcfd1;
    font-family: initial;
}

.section-header::before {
    content: "▹";
    margin-right: 10px;
    font-family: monospace;
    color: rgb(100, 255, 218);
    font-size: 28px;
    line-height: 12px;
}
.section-header::after {
    content: "";
    display: block;
    height: 1px;
    width: 500px;
    background-color: #2d3952;
    position: relative;
    top: -20px;
    left: 200px;
}