/* You can add global styles to this file, and also import other style files */
body {
    background-color: #0a1a2b !important;
    * {
        color: white;
    }
    
}

.section-header {
    font-size: 37px;
    font-weight: 300;
    font-family: 'Playfair Display', sans-serif;
}


.mobile-view {
    display: none;
}

@media only screen and (max-width: 600px) {
    .desktop-view {
        display: none !important;
    }
    .mobile-view {
        display: block !important;
    }
}


.gen-btn {
    text-decoration: none;
    cursor: pointer;
    color: #42a998 !important;
    border: 1px solid;
    padding: 13px;
    border-radius: 6px;
    font-weight: 100;
    font-size: 15px;
}

.gen-btn:hover {
    background-color: #16273a;
    color: #42a998;
    border: 1px solid;
    text-decoration: none;
}