.experience {
    .experience-wrapper {
        margin-top: 50px;

        .experience-container {
            display: flex;
            .show-border {
                border-right: 1px solid;
            }
            .left-pane {
                width: 33%;
                padding-right: 3%;
                text-align: end;
                .company {
                    font-size: 20px;
                    letter-spacing: 2px;
                }
                .sub-header {
                    font-size: 13px;
                    color: #717880;
                    margin-right: 5%;
                }
                .link-icon {
                    padding-right: 10px;
                }
                .circle-marker {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: white;
                    position: relative;
                    float: right;
                    left: 11.8%;
                }
            }
            .right-pane {
                padding-left: 3%;
                width: 67%;
                .position-content {
                    margin-bottom: 60px;
                    .postition {
                        font-size: 20px;
                        letter-spacing: 2px;
                        margin-bottom: 20px;
                        color: #c5c5c5;
                    }
                    .description {
                        font-size: 16px;
                        color: #717880;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    .experience {
        .experience-wrapper {
            margin-top: 50px;
    
            .experience-container {
                display: block;
                .show-border {
                    border-right: none;
                }
                .left-pane {
                    width: 100%;
                    padding-right: 3%;
                    text-align: center;
                    margin-bottom: 20px;
                    .circle-marker {
                        display: none;
                    }
                }
                .right-pane {
                    width: 100%;
                    .position-content {
                        margin-bottom: 60px;
                        .postition {
                            font-size: 18px;
                        }
                        .description {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}